@model BT.Banana.Web.Models.SearchResultViewModel
@{
    ViewBag.Title = Model.key;
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="row-fluid result-count">
    <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 col">
        <span>@Html.Raw(string.Format(Resource.SearchTotalCount,Model.key,Model.totalcount))</span>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 col">
        @{
            if (Model.HasResult)
            {
                foreach (var item in Model.items)
                {
                    <div class="result-item">
                        <strong class="inline item-name">
                            <a href="/d/@(item.id).html" target="_blank">@Html.Raw(item.name)</a>
                        </strong>
                        <div class="files">
                            <ul>
                                @{
                                    foreach (var li in item.filedes)
                                    {
                                        <li class="inline">@Html.Raw(li)</li>
                                    }
                                    if (item.filedes.Count > 0)
                                    {
                                        <li><a target="_blank" href="/d/@(item.id).html">@(Resource.SearchMoreButton)...</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="info">
                            <span>@(Resource.MagnetType):@(item.type)</span>
                            <span>@(Resource.MagnetFileCount):@(item.filecount)</span>
                            <span>@(Resource.MagnetFileSize):@(item.filesize)</span>
                            <span>@(Resource.MagnetDownloadCount):@(item.downloadcount)</span>
                            <span>@(Resource.MagnetUpdateTime):@(item.updatetime)</span>
                            <span>@(Resource.MagnetCreateTime):@(item.createtime)</span>
                        </div>
                    </div>
                                        }
                                        @Html.Raw(Model.pagination_html)
                                    }
        }

    </div>


    <div class="col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs side">
        <div class="recent-container inline">
            <strong>@(Resource.SearchKeyWords)</strong>
            @{
                if (Model.searchwords.Count > 0)
                {
                    foreach (var w in Model.searchwords)
                    {
                        <div style="margin:3px 0px">
                            <a href="/s/@(Html.Raw(w))">@Html.Raw(w)</a>
                        </div>
                    }
                }
            }
        </div>

        <div class="tip-container">
            @Html.Raw(Resource.SearchTips)
        </div>

    </div>


</div>
