@model Banana.Models.VideoDetail
@using  Banana.Helper
@{
    var name = Model.Video.Name;
    ViewData["Title"] = name + " 高清在线观看";
    ViewData["KeyWords"] = $"{name},{name}在线播放,{name}免费看,{name}在线观看";
    ViewData["Description"] = $"BT香蕉(btbanana.com)正在提供{Model.Video.Classify}《{name}》在线观看免费高清播放，{name}剧情介绍：{Model.Video.Description}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadCss{
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/css/video.css" rel="stylesheet" />
}
@section HeadScripts{
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <script src="~/js/videohistory.js"></script>
}
<div class="row">

    <div class="col-md-9 col-sm-12 hy-main-content">
        <div class="hy-video-details clearfix">
            <div class="item clearfix">
                <dl class="content">
                    <dt>
                        <a class="videopic" href="#" title="@Model.Video.Name" style="background: rgba(0,0,0,.3) url('data:image/jpg;base64,@Model.Video.Image') center no-repeat;">
                            <span class="play hidden-xs"></span>
                        </a>
                    </dt>
                    <dd class="clearfix">
                        <div class="head">
                            <h3>@Model.Video.Name</h3>
                        </div>
                        <ul class="clearfix" style="margin-top:20px;">
                            <li><span class="text-muted">备注：</span>@Model.Video.Remark</li>
                            <li><span class="text-muted">主演：</span>@Model.Video.Starring</li>
                            <li><span class="text-muted">导演：</span>@Model.Video.Director</li>
                            <li class="col-sm-6 padding-0"><span class="text-muted">影片分类：</span><a href="/m573/?m=vod-type-id-10.html" title="@Model.Video.Classify">@Model.Video.Classify</a></li>
                            <li class="col-sm-6 hidden-xs padding-0"><span class="text-muted">影片类型：</span>@Model.Video.Type</li>
                            <li class="col-sm-6 padding-0"><span class="text-muted">影片地区：</span>@Model.Video.Region</li>
                            <li class="col-sm-6 hidden-sm hidden-xs padding-0"><span class="text-muted">影片语言：</span>@Model.Video.Language</li>
                            <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted">上映年份：</span>@Model.Video.ReleaseDate</li>
                            <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted">更新时间：</span>@Model.Video.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="hy-layout active clearfix">
            <div class="hy-switch-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#list1" data-toggle="tab" title="播放线路">播放线路</a></li>
                    <li><a href="#list2" data-toggle="tab" title="剧情介绍">剧情介绍</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="hy-play-list tab-pane fade in active" id="list1">
                    <div class="item tyui" id="playlist">

                        <div class="panel clearfix">
                            <a class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist1" title="@Model.VideoSource.SourceName">
                                线路1<span class="text-muted pull-right"><i class="icon iconfont icon-right"></i></span>
                            </a>

                            <div id="playlist1" class="playlist collapse in">
                                <ul class="clearfix">
                                    @{
                                        foreach (var source in Model.VideoSource.Sources)
                                        {
                                            <li><a title="@source.Title" href="@($"/video/play?key={FormatHelper.EncodeBase64(source.Address)}&id={Model.Video.Id}&title={Model.Video.Name}")" target="_blank">@source.Title</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="hy-play-list tab-pane fade in" id="list2">
                    <div class="item">
                        <div class="plot">@Html.Raw(Model.Video.Description)</div>
                    </div>
                </div>
            </div>
        </div>
        <!--相关-->
        <div class="hy-layout clearfix">
            <div class="hy-video-list">
                <div class="hy-video-head">
                    <h3 class="margin-0">猜你喜欢</h3>
                </div>
                <div class="swiper-container hy-switch swiper-container-horizontal">
                    <div class="swiper-wrapper">

                        <div class="col-md-3 col-sm-3 col-xs-6 ">
                            <div class="item">
                                <a class="videopic lazy" href="/m573/?m=vod-detail-id-355.html" title="暗杀" data-original="http://pics.myzyzy.com:8181/upload/vod/2015-09/2015921911439958.jpg">
                                    <span class="play hidden-xs"></span>
                                    <span class="score">890</span>
                                </a>
                                <div class="title">
                                    <h5 class="text-overflow"><a href="/m573/?m=vod-detail-id-355.html" title="暗杀">暗杀</a></h5>
                                </div>
                                <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                    全智贤 李政宰 河正宇 吴达洙 赵镇雄
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 ">
                            <div class="item">
                                <a class="videopic lazy" href="/m573/?m=vod-detail-id-355.html" title="暗杀" data-original="http://pics.myzyzy.com:8181/upload/vod/2015-09/2015921911439958.jpg">
                                    <span class="play hidden-xs"></span>
                                    <span class="score">890</span>
                                </a>
                                <div class="title">
                                    <h5 class="text-overflow"><a href="/m573/?m=vod-detail-id-355.html" title="暗杀">暗杀</a></h5>
                                </div>
                                <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                    全智贤 李政宰 河正宇 吴达洙 赵镇雄
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 ">
                            <div class="item">
                                <a class="videopic lazy" href="/m573/?m=vod-detail-id-355.html" title="暗杀" data-original="http://pics.myzyzy.com:8181/upload/vod/2015-09/2015921911439958.jpg">
                                    <span class="play hidden-xs"></span>
                                    <span class="score">890</span>
                                </a>
                                <div class="title">
                                    <h5 class="text-overflow"><a href="/m573/?m=vod-detail-id-355.html" title="暗杀">暗杀</a></h5>
                                </div>
                                <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                    全智贤 李政宰 河正宇 吴达洙 赵镇雄
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 ">
                            <div class="item">
                                <a class="videopic lazy" href="/m573/?m=vod-detail-id-355.html" title="暗杀" data-original="http://pics.myzyzy.com:8181/upload/vod/2015-09/2015921911439958.jpg">
                                    <span class="play hidden-xs"></span>
                                    <span class="score">890</span>
                                </a>
                                <div class="title">
                                    <h5 class="text-overflow"><a href="/m573/?m=vod-detail-id-355.html" title="暗杀">暗杀</a></h5>
                                </div>
                                <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                    全智贤 李政宰 河正宇 吴达洙 赵镇雄
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!--end 相关-->
    </div>

    <div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
        <div class="hy-layout clearfix">
            <div class="hy-details-qrcode clearfix">
                <div class="item">
                    <h5 class="text-muted">扫一扫用手机观看</h5>
                    <p><img src="http://www.m1938.com/img/wep.png"></p>
                </div>
            </div>

            <div class="hy-video-ranking clearfix">
                <div class="head">
                    <a class="text-muted pull-right" href="/m573/?m=vod-type-id-10.html" title="更多">更多 <i class="icon iconfont icon-right"></i></a>
                    <h5><i class="icon iconfont icon-top text-color"></i> 剧情片排行榜</h5>
                </div>
                <div class="item">
                    <ul class="clearfix">

                        <li class="text-overflow">
                            <span class="pull-right text-color">66</span>
                            <a href="/m573/?m=vod-detail-id-122.html" title="宫锁沉香"><em class="number active">1</em>宫锁沉香</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">102</span>
                            <a href="/m573/?m=vod-detail-id-126.html" title="乾隆下扬州"><em class="number active">2</em>乾隆下扬州</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">139</span>
                            <a href="/m573/?m=vod-detail-id-138.html" title="爱慕"><em class="number active">3</em>爱慕</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">213</span>
                            <a href="/m573/?m=vod-detail-id-125.html" title="西厢记"><em class="number ">4</em>西厢记</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">234</span>
                            <a href="/m573/?m=vod-detail-id-132.html" title="亲亲我的宝贝"><em class="number ">5</em>亲亲我的宝贝</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">302</span>
                            <a href="/m573/?m=vod-detail-id-130.html" title="暖"><em class="number ">6</em>暖</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">358</span>
                            <a href="/m573/?m=vod-detail-id-128.html" title="穿孔"><em class="number ">7</em>穿孔</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">439</span>
                            <a href="/m573/?m=vod-detail-id-123.html" title="美国情事"><em class="number ">8</em>美国情事</a>
                        </li>

                        <li class="text-overflow">
                            <span class="pull-right text-color">511</span>
                            <a href="/m573/?m=vod-detail-id-129.html" title="拉面女孩"><em class="number ">9</em>拉面女孩</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="hy-gototop hidden-sm hidden-xs">
    <ul class="item clearfix">
        <li>
            <a href="javascript:()" title="观看记录"><i class="icon iconfont icon-record1"></i></a>
            <div class="history clearfix">
                <div class="head">
                    <h5 class="margin-0 text-muted">观看历史</h5>
                </div>
                <script type="text/javascript ">
                    $MH.limit = 10;
                    $MH.WriteHistoryBox(200, 170, 'font');
                    $MH.recordHistory({
                        name: '[vod:name]',
                        link: '[vod:link]',
                        pic: '[vod:pic]'
                    })
                </script>
            </div>
        </li>
        <li>
            <a href="javascript:()" title="二维码"><i class="icon iconfont icon-code1"></i></a>
            <div class="code clearfix">
                <p class="margin-0"><img class="pic-responsive" src="http://bshare.optimix.asia/barCode?site=weixin&url=http%3A%2F%2Fwww.jisuysw.com%2F" alt="扫描二维码" /></p>
            </div>
        </li>
        <li><a href="javascript:scroll(0,0)" title="返回顶部"><i class="icon iconfont icon-uparrow"></i></a></li>
    </ul>
</div>

@section FootScripts{
    <script>
        $(function () {
            $(".videopic.lazy").lazyload({
                effect: "fadeIn",
                threshold: 50,
            });
        })
    </script>
}