
@{
    ViewData["Title"] = "电影库";
    ViewData["KeyWords"] = $"最新电影，热播电视剧，电影网，免费电影，在线电影";
    ViewData["Description"] = $"BT香蕉(btbanana.com)电影库提供最新电影和热播电视剧免费在线观看，为影迷提供全网最新最全无广告电影电视剧最完美的观看体验。";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var MovieList = ViewData["MovieList"] as List<Video>;
    var TVList = ViewData["TVList"] as List<Video>;
    var VarietyList = ViewData["VarietyList"] as List<Video>;
    var AnimeList = ViewData["AnimeList"] as List<Video>;
    var SexList = ViewData["SexList"] as List<Video>;
}
@section HeadCss{
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/css/video.css" rel="stylesheet" />
}
@section HeadScripts{
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <script src="~/js/videohistory.js"></script>
}
@Html.Partial("_VideoSearch")
<div class="row">

    <!--电影 -->
    <div class="hy-layout clearfix">
        <div class="hy-video-head">
            @*<ul class="pull-right hidden-md hidden-sm hidden-xs">
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-5.html" class="text-muted border-right">动作片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-6.html" class="text-muted border-right">喜剧片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-7.html" class="text-muted border-right">爱情片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-8.html" class="text-muted border-right">科幻片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-9.html" class="text-muted border-right">恐怖片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-10.html" class="text-muted border-right">剧情片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-11.html" class="text-muted border-right">战争片</a> /</li>
                    <li class="active"><a href="/m573/?m=vod-type-id-1.html" class="text-muted" title="查看更多">更多 <i class="icon iconfont icon-right"></i></a></li>
                </ul>*@
            <h3 class="margin-0"><i class="icon iconfont icon-film text-color"></i> 电影-最近更新</h3>
        </div>
        <div class="clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                <div class="hy-video-list clearfix">
                    <div class="item clearfix">
                        @{
                            if (MovieList != null && MovieList.Count > 0)
                            {
                                for (int i = 0; i < MovieList.Count; i++)
                                {
                                    var hidden_xs = i >= 4 ? "hidden-xs" : "";
                                    <div class="col-md-2 col-sm-3 col-xs-6 @hidden_xs">
                                        <a class="videopic lazy" href="/d/video/@MovieList[i].Id" title="@MovieList[i].Name" target="_blank" style="background:rgba(0,0,0,.3) url('data:image/jpg;base64,@MovieList[i].Image') 50% 50% no-repeat;">
                                            <span class="play hidden-xs"></span>
                                            <span class="score">@MovieList[i].Remark</span>
                                        </a>
                                        <div class="title">
                                            <h5 class="text-overflow"><a href="/d/video/@MovieList[i].Id" title="@MovieList[i].Name" target="_blank">@MovieList[i].Name</a></h5>
                                        </div>
                                        <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                            @MovieList[i].Starring
                                        </div>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        @*<div class="hy-video-footer visible-xs clearfix">
                <a href="/m573/?m=vod-type-id-1.html" class="text-muted">查看更多 <i class="icon iconfont icon-right pull-right"></i></a>
            </div>*@
    </div>
    <!--end 电影 -->
    <!--电视剧 -->
    <div class="hy-layout clearfix">
        <div class="hy-video-head">
            @*<ul class="pull-right hidden-md hidden-sm hidden-xs">
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-5.html" class="text-muted border-right">动作片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-6.html" class="text-muted border-right">喜剧片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-7.html" class="text-muted border-right">爱情片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-8.html" class="text-muted border-right">科幻片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-9.html" class="text-muted border-right">恐怖片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-10.html" class="text-muted border-right">剧情片</a> /</li>
                    <li class="text-muted"><a href="/m573/?m=vod-type-id-11.html" class="text-muted border-right">战争片</a> /</li>
                    <li class="active"><a href="/m573/?m=vod-type-id-1.html" class="text-muted" title="查看更多">更多 <i class="icon iconfont icon-right"></i></a></li>
                </ul>*@
            <h3 class="margin-0"><i class="icon iconfont icon-show text-color"></i> 电视剧-最近更新</h3>
        </div>
        <div class="clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                <div class="hy-video-list clearfix">
                    <div class="item clearfix">
                        @{
                            if (TVList != null && TVList.Count > 0)
                            {
                                for (int i = 0; i < TVList.Count; i++)
                                {
                                    var hidden_xs = i >= 4 ? "hidden-xs" : "";
                                    <div class="col-md-2 col-sm-3 col-xs-6 @hidden_xs">
                                        <a class="videopic lazy" href="/d/video/@TVList[i].Id" title="@TVList[i].Name" target="_blank" style="background:rgba(0,0,0,.3) url('data:image/jpg;base64,@TVList[i].Image') 50% 50% no-repeat;">
                                            <span class="play hidden-xs"></span>
                                            <span class="score">@TVList[i].Remark</span>
                                        </a>
                                        <div class="title">
                                            <h5 class="text-overflow"><a href="/d/video/@TVList[i].Id" title="@TVList[i].Name" target="_blank">@TVList[i].Name</a></h5>
                                        </div>
                                        <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                            @TVList[i].Starring
                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        @*<div class="hy-video-footer visible-xs clearfix">
                <a href="/m573/?m=vod-type-id-1.html" class="text-muted">查看更多 <i class="icon iconfont icon-right pull-right"></i></a>
            </div>*@
    </div>
    <!--end 电视剧 -->
    <!--综艺 -->
    <div class="hy-layout clearfix">
        <div class="hy-video-head">
            @*<ul class="pull-right hidden-md hidden-sm hidden-xs">
                    <li class="active"><a href="/m573/?m=vod-type-id-1.html" class="text-muted" title="查看更多">更多 <i class="icon iconfont icon-right"></i></a></li>
                </ul>*@
            <h3 class="margin-0"><i class="icon iconfont icon-flag text-color"></i> 综艺-最近更新</h3>
        </div>
        <div class="clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                <div class="hy-video-list clearfix">
                    <div class="item clearfix">
                        @{
                            if (VarietyList != null && VarietyList.Count > 0)
                            {
                                for (int i = 0; i < VarietyList.Count; i++)
                                {
                                    var hidden_xs = i >= 4 ? "hidden-xs" : "";
                                    <div class="col-md-2 col-sm-3 col-xs-6 @hidden_xs">
                                        <a class="videopic lazy" href="/d/video/@VarietyList[i].Id" title="@VarietyList[i].Name" target="_blank" style="background:rgba(0,0,0,.3) url('data:image/jpg;base64,@VarietyList[i].Image') 50% 50% no-repeat;">
                                            <span class="play hidden-xs"></span>
                                            <span class="score">@VarietyList[i].Remark</span>
                                        </a>
                                        <div class="title">
                                            <h5 class="text-overflow"><a href="/d/video/@VarietyList[i].Id" title="@VarietyList[i].Name" target="_blank">@VarietyList[i].Name</a></h5>
                                        </div>
                                        <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                            @VarietyList[i].Starring
                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        @*<div class="hy-video-footer visible-xs clearfix">
                <a href="/m573/?m=vod-type-id-1.html" class="text-muted">查看更多 <i class="icon iconfont icon-right pull-right"></i></a>
            </div>*@
    </div>
    <!--end 综艺 -->
    <!--动漫 -->
    <div class="hy-layout clearfix">
        <div class="hy-video-head">
            @*<ul class="pull-right hidden-md hidden-sm hidden-xs">
                    <li class="active"><a href="/m573/?m=vod-type-id-1.html" class="text-muted" title="查看更多">更多 <i class="icon iconfont icon-right"></i></a></li>
                </ul>*@
            <h3 class="margin-0"><i class="icon iconfont icon-mallanimation text-color"></i> 动漫-最近更新</h3>
        </div>
        <div class="clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                <div class="hy-video-list clearfix">
                    <div class="item clearfix">
                        @{
                            if (AnimeList != null && AnimeList.Count > 0)
                            {
                                for (int i = 0; i < AnimeList.Count; i++)
                                {
                                    var hidden_xs = i >= 4 ? "hidden-xs" : "";
                                    <div class="col-md-2 col-sm-3 col-xs-6 @hidden_xs">
                                        <a class="videopic lazy" href="/d/video/@AnimeList[i].Id" title="@AnimeList[i].Name" target="_blank" style="background:rgba(0,0,0,.3) url('data:image/jpg;base64,@AnimeList[i].Image') 50% 50% no-repeat;">
                                            <span class="play hidden-xs"></span>
                                            <span class="score">@AnimeList[i].Remark</span>
                                        </a>
                                        <div class="title">
                                            <h5 class="text-overflow"><a href="/d/video/@AnimeList[i].Id" title="@AnimeList[i].Name" target="_blank">@AnimeList[i].Name</a></h5>
                                        </div>
                                        <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                            @AnimeList[i].Starring
                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        @*<div class="hy-video-footer visible-xs clearfix">
                <a href="/m573/?m=vod-type-id-1.html" class="text-muted">查看更多 <i class="icon iconfont icon-right pull-right"></i></a>
            </div>*@
    </div>
    <!--end 动漫 -->
    <!--伦理 -->
    <div class="hy-layout clearfix">
        <div class="hy-video-head">
            @*<ul class="pull-right hidden-md hidden-sm hidden-xs">
                    <li class="active"><a href="/m573/?m=vod-type-id-1.html" class="text-muted" title="查看更多">更多 <i class="icon iconfont icon-right"></i></a></li>
                </ul>*@
            <h3 class="margin-0"><i class="icon iconfont icon-icon_special text-color"></i> 伦理-最近更新</h3>
        </div>
        <div class="clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                <div class="hy-video-list clearfix">
                    <div class="item clearfix">
                        @{
                            if (SexList != null && SexList.Count > 0)
                            {
                                for (int i = 0; i < SexList.Count; i++)
                                {
                                    var hidden_xs = i >= 4 ? "hidden-xs" : "";
                                    <div class="col-md-2 col-sm-3 col-xs-6 @hidden_xs">
                                        <a class="videopic lazy" href="/d/video/@SexList[i].Id" title="@SexList[i].Name" target="_blank" style="background:rgba(0,0,0,.3) url('data:image/jpg;base64,@SexList[i].Image') 50% 50% no-repeat;">
                                            <span class="play hidden-xs"></span>
                                            <span class="score">@SexList[i].Remark</span>
                                        </a>
                                        <div class="title">
                                            <h5 class="text-overflow"><a href="/d/video/@SexList[i].Id" title="@SexList[i].Name" target="_blank">@SexList[i].Name</a></h5>
                                        </div>
                                        @*<div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                                &nbsp;@(SexList[i].Starring)
                                            </div>*@
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        @*<div class="hy-video-footer visible-xs clearfix">
                <a href="/m573/?m=vod-type-id-1.html" class="text-muted">查看更多 <i class="icon iconfont icon-right pull-right"></i></a>
            </div>*@
    </div>
    <!--end 伦理 -->
</div>

<div class="hy-gototop hidden-sm hidden-xs">
    <ul class="item clearfix">
        <li>
            <a href="javascript:()" title="观看记录"><i class="icon iconfont icon-record1"></i></a>
            <div class="history clearfix">
                <div class="head">
                    <h5 class="margin-0 text-muted">观看历史</h5>
                </div>
                <script type="text/javascript ">
                    $MH.limit = 10;
                    $MH.WriteHistoryBox(200, 170, 'font');
                    $MH.recordHistory({
                        name: '[vod:name]',
                        link: '[vod:link]',
                        pic: '[vod:pic]'
                    })
                </script>
            </div>
        </li>
        <li>
            <a href="javascript:()" title="二维码"><i class="icon iconfont icon-code1"></i></a>
            <div class="code clearfix">
                <p class="margin-0"><img class="pic-responsive" src="http://bshare.optimix.asia/barCode?site=weixin&url=http%3A%2F%2Fwww.jisuysw.com%2F" alt="扫描二维码" /></p>
            </div>
        </li>
        <li><a href="javascript:scroll(0,0)" title="返回顶部"><i class="icon iconfont icon-uparrow"></i></a></li>
    </ul>
</div>
@section FootScripts{
    <script>
        $(function () {
            //$(".videopic.lazy").lazyload({
            //    effect: "fadeIn",
            //    threshold: 50,
            //});
        })
    </script>
}