
@{
    ViewData["Title"] = "VideoSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SearchResult = ViewData["VideoSearchResult"] as VideoSearchResult;
    var TotalRanking = ViewData["VideoSearch_TotalRanking"] as List<VideoRank>;

    var pageLink = $"'/s/video/{SearchResult.Key}/__id__'";
}
@section HeadCss{
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/css/video.css" rel="stylesheet" />
}
@section HeadScripts{
    <script src="~/js/videohistory.js"></script>
}
<div class="row">
    <div class="col-md-9 col-sm-12 hy-main-content">
        <div class="hy-layout clearfix">
            <div class="hy-video-head">
                <span class="text-muted pull-right hidden-xs">当前第<span class="text-color">@SearchResult.PageIndex</span>页</span>
                <h4 class="margin-0">根据<span class="text-color">@SearchResult.Key</span>找到约<span class="text-color">@SearchResult.TotalCount</span>条结果</h4>
            </div>
            @{
                if (SearchResult.Result != null && SearchResult.Result.Count > 0)
                {
                    foreach (var item in SearchResult.Result)
                    {
                        <div class="hy-video-details active clearfix">
                            <div class="item clearfix">
                                <dl class="content">
                                    <dt>
                                        <a class="videopic" href="/d/video/@item.Id" style="background: url('data:image/jpg;base64,@item.Image')  no-repeat; background-position:50% 50%; background-size: cover;" target="_blank">
                                            <span class="play hidden-xs"></span>
                                            <span class="note textbg"></span>
                                        </a>
                                    </dt>
                                    <dd class="clearfix">
                                        <div class="head">
                                            <h3><a href="/d/video/@item.Id" target="_blank">@item.Name</a></h3>
                                        </div>
                                        <ul>
                                            <li><span class="text-muted">备注：</span>@item.Remark</li>
                                            <li><span class="text-muted">主演：</span>@item.Starring</li>
                                            <li><span class="text-muted">导演：</span>@item.Director</li>
                                            <li class="col-md-6 hidden-md hidden-sm hidden-xs padding-0"><span class="text-muted">地区：</span>@item.Region</li>
                                            <li class="col-md-6 hidden-md hidden-sm hidden-xs padding-0"><span class="text-muted">分类：</span><a href="/" title="@item.Classify">@item.Classify</a></li>
                                            <li class="col-md-6 hidden-md hidden-sm hidden-xs padding-0"><span class="text-muted">语言：</span></li>
                                            <li class="col-md-6 hidden-md hidden-sm hidden-xs padding-0"><span class="text-muted">年份：</span>@item.ReleaseDate</li>
                                        </ul>
                                        <div class="block">
                                            <a class="text-muted" href="/d/video/@item.Id" target="_blank">查看详情 <i class="icon iconfont icon-right"></i> </a>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    }
                }
            }


            @{
                if (SearchResult.TotalCount > 0)
                {
                    <div id="pagination" class="paging"></div>
                }
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
        <div class="hy-layout clearfix">

            @{
                if (TotalRanking != null)
                {
                    <div class="hy-video-ranking clearfix">
                        <div class="head">
                            @*<a class="text-muted pull-right" href="/" title="更多">更多 <i class="icon iconfont icon-right"></i></a>*@
                            <h5><i class="icon iconfont icon-top text-color"></i>排行榜</h5>
                        </div>
                        <div class="item">
                            <ul class="clearfix">

                                @{
                                    for (int i = 0; i < TotalRanking.Count; i++)
                                    {
                                        <li class="text-overflow">
                                            <span class="pull-right text-color">@(TotalRanking[i].Score)&#176;</span>
                                            <a href="/d/video/@TotalRanking[i].Id" title="@TotalRanking[i].Name" target="_blank"><em class="number active">@(i + 1)</em>@TotalRanking[i].Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</div>


@Html.Partial("_FooterToolBar")

@section FootScripts {
    <script src="~/js/pager.js"></script>
    <script>
        $(function () {
            var total = @(SearchResult.TotalCount);
            var pagesize = @SearchResult.PageSize;
            var pageindex=@SearchResult.PageIndex;
            $("#pagination").pagination(total, {
                link_to:@Html.Raw(pageLink),
                current_page: pageindex - 1,//当前页 下标0开始
                num_edge_entries:1,
                num_display_entries: 5, //主体页数
                items_per_page: pagesize,
                prev_text: "<",
                next_text: ">"
            });
        });
    </script>
}