@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
if (c == culture)
{
        @:selected
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewBag.Title - @Resource.WebTitle
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="@Resource.WebKeyWords" />
    <meta name="description" content="@Resource.WebDescription" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="~/Content/css/todc-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">

        <div class="row-fluid search-nav bar">
            <div class="pull-right hidden-xs hidden-sm channel-menu">
                <select id="lang" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option value="/setlang?lang=zh-CN" @selected("zh-cn", culture)>
                        简体中文
                    </option>
                    <option value="/setlang?lang=en-US" @selected("en-us", culture)>
                        English
                    </option>
                </select>
            </div>

            <div class="col-md-1 hidden-sm hidden-xs center">
                <a href="/">
                    <img src="~/Content/img/logo_s.png" alt="btbanana.com search logo" title="" style="margin-top:1px;">
                </a>
            </div>

            <form class="input-group input-group-lg col-sm-12 col-xs-12 col-md-5" action="/s" method="get" id="searchForm">
                <input type="text" class="form-control" placeholder="@Resource.InputPlaceholder" value="" name="q">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="@Resource.IndexSubmitButton">
                </span>
            </form>
        </div>
        
        @RenderBody()
    </div>

    @Html.Partial("Footer_PartialPage")

    <script>
        $(function () {
            $('input[name="match"]').change(function () {
                var href = $('input[name="match"]:checked').parent().attr('href')
                location.href = href
            })
            $('input[name="mode"]').change(function () {
                var href = $('input[name="mode"]:checked').parent().attr('href')
                location.href = href
            })
        })
    </script>

</body>
</html>