<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewBag.Title - BT搜索，磁力搜索
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="@Resource.WebKeyWords" />
    <meta name="description" content="@Resource.WebDescription" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" type="image/x-icon" href="/static/img/favicon-32.ico" mce_href="http://7xtf51.com2.z0.glb.clouddn.com/engiy/favicon-32.ico">*@
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    @*<link rel="stylesheet" type="text/css" href="http://o6x5jqiq3.bkt.clouddn.com/todc-bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://o6x5jqiq3.bkt.clouddn.com/engiy.css">*@
    <link href="~/Content/css/todc-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">

        <div class="row-fluid search-nav bar">

            <div class="pull-right hidden-xs hidden-sm channel-menu">
                <a href="http://movie.engiy.com" class="pull-right hidden-xs hidden-sm" title="电影"><i class="glyphicon glyphicon-film"></i> 电影</a>
                <a href="/trend" class="pull-right hidden-xs hidden-sm" style="margin-right: 10px" title="趋势"><i class="glyphicon glyphicon-equalizer"></i> 趋势</a>
            </div>


            <div class="col-md-1 hidden-sm hidden-xs center">
                <a href="/">
                    <img src="http://7xtf51.com2.z0.glb.clouddn.com/engiy/logo-nav.png" alt="engiy search logo" title="最好的BT搜索引擎" style="margin-top:1px;">
                </a>
            </div>

            <form class="input-group input-group-lg col-sm-12 col-xs-12 col-md-5" action="/s" method="get" id="searchForm">
                <input type="text" class="form-control" placeholder="搜索BT资源" value="生生世世" name="q">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" type="button" value="搜索"></button>
                </span>
            </form>
        </div>
        <div class="row-fluid menu-nav">
            <div class="col-md-11 col-md-offset-1 col">

                <a href="/s/生生世世__1_" class="selected">全部</a>



                <a href="/s/生生世世_1_1_">电影</a>



                <a href="/s/生生世世_2_1_">音乐</a>



                <a href="/s/生生世世_3_1_">图像</a>


                <div class="dropdown sort-menu hidden-sm">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        排序<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu">
                        <li><a class="active" href="/s/生生世世__1_1">相关性</a></li>
                        <li><a href="/s/生生世世__3_1">下载次数</a></li>
                        <li><a href="/s/生生世世__2_1">最新</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row-fluid result-count">
            <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 col">

                <span>搜索到12个相关BT资源</span>
                <a class="btn-toggle pull-right" role="button" data-toggle="collapse" href="#tool" aria-expanded="false" aria-controls="tool">
                    <i class="glyphicon glyphicon-cog"></i> 高级搜索
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 col">
                <div class="collapse" id="tool">
                    <div class="well" style="padding: 3px 15px;">
                        <div class="tool-col">
                            <label class="name">范围 </label>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm btn-tool active"
                                       href="/s/name:生生世世__1_1">
                                    <input type="radio" name="match" checked> 只搜索名字
                                </label>
                                <label class="btn btn-default btn-sm btn-tool "
                                       href="/s/files:生生世世__1_1">
                                    <input type="radio" name="match"> 只搜索包含文件
                                </label>
                                <label class="btn btn-default btn-sm btn-tool "
                                       href="/s/full:生生世世__1_1">
                                    <input type="radio" name="match"> 全文搜索
                                </label>
                            </div>
                        </div>

                        <div class="tool-col">
                            <label class="name">模式 </label>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm btn-tool active"
                                       href="/s/name:生生世世__1_1">
                                    <input type="radio" name="mode" checked> 模糊
                                </label>
                                <label class="btn btn-default btn-sm btn-tool "
                                       href="/s/name:!生生世世__1_1">
                                    <input type="radio" name="mode"> 精确
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="alert alert-warning fade in" role="alert">
                    BT资源下载速度慢？试试优化过后的
                    <a class="btn btn-success btn-sm" href="/s/full:!生生世世__3_1">搜索生生世世</a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size: 22px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                @RenderBody()

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTpwbmQy4hy4sqOOH59" target="_blank">陳淑樺 - <b>生生世世</b>(95’滚石首版).abc2004</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">CDImage.wav</li>



                            <li class="inline">005.jpg</li>



                            <li class="inline">006.jpg</li>



                            <li class="inline">001.jpg</li>



                            <li class="inline">004.jpg</li>

















                            <li><a target="_blank" href="/d/AVTpwbmQy4hy4sqOOH59">更多...</a></li>

                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:其它</span>
                        <span>文件数:11</span>
                        <span>文件尺寸:577.9MB</span>
                        <span>下载次数:5</span>
                        <span>更新于:4 个月前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSifu-GP6CfE_FdeGT" target="_blank">巨乳女子校<b>生生</b>中初</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">巨乳女子校生に生中出し04/NYOG-019.avi</li>



                            <li class="inline">巨乳女子校生に生中出し05/NYOG027.avi</li>



                            <li class="inline">巨乳女子校生に生中出し06/NYOG-034.avi</li>



                            <li class="inline">巨乳女子校生に生中出し01/NYOG-001.avi</li>



                            <li class="inline">巨乳女子校生に生中出し02/NYOG-009.avi</li>





















































                            <li><a target="_blank" href="/d/AVTSifu-GP6CfE_FdeGT">更多...</a></li>

                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:29</span>
                        <span>文件尺寸:6.9GB</span>
                        <span>下载次数:2</span>
                        <span>更新于:5 个月前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSwhhZGP6CfE_Fj8mY" target="_blank">巨乳女子校<b>生生</b>中初</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">巨乳女子校生に生中出し04/NYOG-019.avi</li>



                            <li class="inline">巨乳女子校生に生中出し05/NYOG027.avi</li>



                            <li class="inline">巨乳女子校生に生中出し06/NYOG-034.avi</li>



                            <li class="inline">巨乳女子校生に生中出し01/NYOG-001.avi</li>



                            <li class="inline">巨乳女子校生に生中出し02/NYOG-009.avi</li>













































































                            <li><a target="_blank" href="/d/AVTSwhhZGP6CfE_Fj8mY">更多...</a></li>

                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:41</span>
                        <span>文件尺寸:6.9GB</span>
                        <span>下载次数:2</span>
                        <span>更新于:5 个月前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVX2JpFgy4hy4sqOVBDz" target="_blank">飞鸟娱乐(bbs.wofei.net).毕业<b>生生</b>存指南.720P.中英字幕</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">毕业生生存指南 Post.Grad.2009.BluRay.720p.x264.AC3-WOFEI.mkv</li>



                            <li class="inline">毕业生生存指南 Post.Grad.2009.BluRay.720p.x264.AC3-WOFEI.jpg</li>



                            <li class="inline">飞鸟娱乐(bbs.wofei.net).毕业生生存指南.720P.中英字幕.jpg</li>



                            <li class="inline">飞鸟娱乐网址更新器.rar</li>



                            <li class="inline">飞鸟娱乐(bbs.wofei.net).毕业生生存指南.720P.中英字幕.txt</li>

















                            <li><a target="_blank" href="/d/AVX2JpFgy4hy4sqOVBDz">更多...</a></li>

                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:11</span>
                        <span>文件尺寸:2.0GB</span>
                        <span>下载次数:35</span>
                        <span>更新于:2 个月前</span>
                        <span>创建于:3 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTs4FaWy4hy4sqOOZb0" target="_blank">EBS CEO 특강 - 안철수：대학생! <b>生生</b>한 꿈을 펼쳐라.mp4</a>

                    </strong>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:1</span>
                        <span>文件尺寸:152.8MB</span>
                        <span>下载次数:3</span>
                        <span>更新于:2 个月前</span>
                        <span>创建于:4 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVULrK0ay4hy4sqOQVzY" target="_blank">Saeng.Saeng.Hwal.Hwal.2013.<b>生生</b>活活.韩语中字.HR-HDTV.1024X576.x264-YYeTs_韩剧精灵.mkv</a>

                    </strong>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:1</span>
                        <span>文件尺寸:1.4GB</span>
                        <span>下载次数:2</span>
                        <span>更新于:1 个月前</span>
                        <span>创建于:4 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSYYaxGP6CfE_FYHb9" target="_blank">[<b>生生</b>活活].Saeng.Saeng.Hwal.Hwal.2013.HDTV-MP4.720X396.X264-YYeTs_韩剧精灵原创听译.mp4</a>

                    </strong>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:1</span>
                        <span>文件尺寸:462.1MB</span>
                        <span>下载次数:5</span>
                        <span>更新于:1 个月前</span>
                        <span>创建于:6 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSrIy-GP6CfE_Fhc-I" target="_blank">sm-093 素人敏感女子大<b>生生</b>中出し 093 みおさん22歳</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">sm-093.mp4</li>



                            <li class="inline">h_113sm093pl.jpg</li>



                            <li class="inline">sm-093_s.jpg</li>





                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:3</span>
                        <span>文件尺寸:3.0GB</span>
                        <span>下载次数:120</span>
                        <span>更新于:1 个月前</span>
                        <span>创建于:6 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTcNaMVy4hy4sqOMmp2" target="_blank">[<b>生生</b>活活].Saeng.Saeng.Hwal.Hwal.2013.DVD-RMVB-YYeTs_韩剧精灵原创听译.rmvb</a>

                    </strong>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:1</span>
                        <span>文件尺寸:432.9MB</span>
                        <span>下载次数:1</span>
                        <span>更新于:5 个月前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVUDR0gUy4hy4sqOP4hw" target="_blank">《毕业<b>生生</b>存指南》Post.Grad.720p.BluRay.x264-Felony-人人影视高清发布组</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">《毕业生生存指南》Post.Grad.720p.BluRay.x264-Felony-人人影视高清发布组.mkv</li>



                            <li class="inline">f-post.grad.720p.x264-sample.mkv</li>



                            <li class="inline">高清在线播放平台.zip</li>



                            <li class="inline">对于近日发布高清电影播放问题说明.rar</li>



                            <li class="inline">人人影视长期招募：英文翻译，日语翻译，韩语翻译，时间轴制作，资源分流，BT发布，后期压制.zip</li>

















                            <li><a target="_blank" href="/d/AVUDR0gUy4hy4sqOP4hw">更多...</a></li>

                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:11</span>
                        <span>文件尺寸:4.4GB</span>
                        <span>下载次数:1</span>
                        <span>更新于:4 个月前</span>
                        <span>创建于:4 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSr1QRGP6CfE_Fhya6" target="_blank">Saeng.Saeng.Hwal.Hwal.2013.<b>生生</b>活活.韩语中字.HR-HDTV.1024X576.x264-YYeTs_韩剧精灵.mkv</a>

                    </strong>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:1</span>
                        <span>文件尺寸:1.4GB</span>
                        <span>下载次数:21</span>
                        <span>更新于:3 天前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-item">
                    <strong class="inline item-name">

                        <a href="/d/AVTSpf85GP6CfE_Fgtc6" target="_blank">DVDES-884 マジックミラー便 都内有数の名門大学に通う高学歴女子大<b>生生</b>まれて初めての素股編vol.03 ギンギンに勃起したデカチンを素人娘が赤面まんコキ！恥ずかしさと気持ちよさで濡れ出したオマ◯コにヌルっと挿入！New folder</a>

                    </strong>

                    <div class="files">
                        <ul>



                            <li class="inline">DVDES-884.mp4</li>



                            <li class="inline">1dvdes884pl.jpg</li>



                            <li class="inline">DVDES-884_s.jpg</li>





                        </ul>
                    </div>

                    <div class="info">
                        <span>类型:电影</span>
                        <span>文件数:3</span>
                        <span>文件尺寸:2.2GB</span>
                        <span>下载次数:23</span>
                        <span>更新于:24 天前</span>
                        <span>创建于:5 个月前</span>
                    </div>
                </div>

                <div class="result-pagination">

                    <a href="/s/我__1_1">
                        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>上一页
                    </a>




                    <a href="/s/我__1_1">1</a>



                    <span>2</span>



                    <a href="/s/我__1_3">3</a>



                    <a href="/s/我__1_4">4</a>



                    <a href="/s/我__1_5">5</a>



                    <a href="/s/我__1_6">6</a>



                    <a href="/s/我__1_7">7</a>



                    <a href="/s/我__1_8">8</a>



                    <a href="/s/我__1_9">9</a>



                    <a href="/s/我__1_10">10</a>




                    <a href="/s/我__1_3">
                        <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>下一页
                    </a>

                </div>

            </div>


            <div class="col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs side">
                <div class="recent-container inline">
                    <strong>大家都在搜</strong>

                    <div style="margin:3px 0px">
                        <a href="/s/ShaderMap Pro___">ShaderMap Pro</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/PlugInGuru Omniverse II___">PlugInGuru Omniverse II</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/jamplay phase 2___">jamplay phase 2</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/zerog club classics___">zerog club classics</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/Jamplay guitar___">Jamplay guitar</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/jamplay phase 3___">jamplay phase 3</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/zerog london session___">zerog london session</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/SKnote 2012___">SKnote 2012</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/jamplay phase 4___">jamplay phase 4</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/PhoenixVerb v2___">PhoenixVerb v2</a>
                    </div>

                    <div style="margin:3px 0px">
                        <a href="/s/jamplay folk___">jamplay folk</a>
                    </div>

                </div>

                <div class="tip-container">
                    <strong>如何才能找到下载速度快的资源？</strong>
                    <div>
                        通常情况下，如果一个资源更新日期离现在比较近那一定有速度并且下载次数越多速度越快。
                    </div>
                    <div>
                        小伙伴们懂了吗？可以用排序功能，找<b>下载次数多的</b>或者<b>比较新的</b>资源，那下载速度一定是嗷嗷快。
                    </div>
                </div>

            </div>


        </div>
    </div>

    @Html.Partial("Footer_PartialPage")

    <script>
        $(function () {
            $('input[name="match"]').change(function () {
                var href = $('input[name="match"]:checked').parent().attr('href')
                location.href = href
            })
            $('input[name="mode"]').change(function () {
                var href = $('input[name="mode"]:checked').parent().attr('href')
                location.href = href
            })
        })
    </script>

</body>
</html>