@model Banana.Web.Models.ViewModels.MagnetLinkSearchResultViewModel
@using Banana.Web.Helper
@{
    ViewData["Title"] = $"{Model.SearchKey} 相关磁力搜索";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pageLink = $"'/s/magnet/{Model.SearchKey}/__id__'";
}
<strong class="single-strong">磁力搜索</strong>
@{
    if (Model.HasResult)
    {
        <div class="search-statu"><span>根据 <strong>@(Model.SearchKey)</strong> 找到约@(Model.Totals)条结果</span></div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">没有找到 <strong>@(Model.SearchKey)</strong> 相关结果</div>
    }
}
<div class="row">
    <div class="search-list col-md-10">
        @{
            if (Model.HasResult)
            {
                foreach (var item in Model.SearchResult)
                {
                    <div class="search-item">
                        <div class="item-title">
                            <h3>
                                <a class="search-item-link" href="@($"/d/magnet/{item.InfoHash}")" target="_blank">@Html.Raw(item.Name)</a>
                            </h3>
                        </div>
                        @{
                            //文件列表
                            var fileCount = item.Files.Count;
                            var showCount = fileCount > 4 ? 4 : fileCount * 0.6;
                            for (int i = 0; i < showCount; i++)
                            {
                        <div class="item-list">@item.Files[i].Name</div>
                            }

                        }
                        <div class="item-bar">
                            <span>收录时间： <b>@item.CreateTime.ToString("yyyy-MM-dd")</b></span>
                            <span>种子类型：<b>@item.Type</b></span>
                            <span>种子大小：<b>@FormatHelper.HumanReadableByteCount(item.Size)</b></span>
                        </div>
                    </div>
                                }
                            }
        }
    </div>
</div>
@{
    if (Model.HasResult)
    {
        <div id="pagination" class="paging"></div>
    }
}


@section FootScripts {
    <script src="~/js/pager.js"></script>
    <script>
        $(function () {
            var total = @(Model.Totals>10*100?1000: Model.Totals);//只显示前100页
            var pagesize = @Model.PageSize;
            var pageindex=@Model.PageIndex;
            $("#pagination").pagination(total, {
                link_to:@Html.Raw(pageLink),
                current_page: pageindex - 1,//当前页 下标0开始
                num_edge_entries:1,
                num_display_entries: 5, //主体页数
                items_per_page: pagesize,
                prev_text: "<",
                next_text: ">"
            });
        });
    </script>
}

