@model Banana.Web.Models.ViewModels.MagnetLinkSearchResultViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pageLink = $"'/s/magnet/{Model.SearchKey}/__id__'";
}
<strong class="single-strong">磁力搜索</strong>
@{
    if (Model.HasResult)
    {
        <div class="search-statu"><span>搜索到大约@(Model.Totals)条结果，耗时@(Model.FindTime)ms。</span><span></span></div>
    }
}
<div class="row">
    <div class="search-list col-md-10">
        @{
            if (Model.HasResult)
            {
                foreach (var item in Model.SearchResult)
                {
                    <div class="search-item">
                        <div class="item-title">
                            <h3>
                                <a href="@($"/d/magnet/{item.InfoHash}")" target="_blank">@Html.Raw(item.Name)</a>
                            </h3>
                        </div>
                        @{
                            //文件列表
                            var fileCount = item.Files.Count;
                            var showCount = fileCount > 4 ? 4 : fileCount * 0.6;
                            for (int i = 0; i < showCount; i++)
                            {
                                <div class="item-list">@item.Files[i].Name</div>
                            }

                        }
                        <div class="item-bar">
                            <span>创建时间： <b>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</b></span>
                            <span>文件大小：<b>@item.Size</b></span>
                        </div>
                    </div>
                                }
                            }
        }
    </div>
</div>
<div id="pagination" class="paging"></div>

@section FootScripts {
    <script src="~/js/pager.js"></script>
    <script>
        $(function () {
            var total = @Model.Totals;
            var pagesize = @Model.PageSize;
            var pageindex=@Model.PageIndex;
            $("#pagination").pagination(total, {
                link_to:@Html.Raw(pageLink),
                current_page: pageindex-1,//当前页 下标0开始
                num_display_entries: 5, //主体页数
                items_per_page: pagesize,
                prev_text: "<",
                next_text: ">"
            });

            $("#pagination a").click(function () {


            });
        });
    </script>
}

